* {
	/*border: 1px solid red;*/
}
.whole {
	margin: 0;
	padding: 0;
}
.top {
	height: 300px;		
	padding: 50px;
	background-color: lightblue;
	color: white;
}
.header {
	display: inline;
	margin: 40px;
	padding: 0;
}
.fh {
	float: left;
	width: 30%;
	line-height: 0;
	padding: 3px 0 0 40px;
}

.sh {
	float: right;
	width: 55%; 
}
.sh ul li {
	list-style-type: none;
	display: inline;
}
.sh li a {
	display: block;
	text-decoration: none;
	padding: 3px 10px;
	float: left;
	color: white;
}
.sh li a:hover {
		text-decoration: overline;
		text-decoration-color: blue;
}
.form {
		margin: 100px 40px;
		padding: 0;
		line-height: 1.6;	
}
.middle {
	padding: 20px;
	text-align: center;
	height: 300px;
}
.line {
	text-decoration-line: overline;
	text-decoration-color: blue;
}
.again {
	line-height: 0;
}
.bod {
	padding: 20px;
}
.bod p {
	width: 250px;
	border: 1px solid blue;
	padding: 20px 20px;
	margin: 0 auto;
	color: blue;
}
.bottom {
	padding: 20px;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
	background-color: black;
	color: white;
}