 *{
	/*border: 1px solid red;*/
}
body {
	margin: 0;
	padding: 0;
}
.whole {
	margin: 0;
	padding: 0;
}
.first {
	padding: 0;
	background-color: purple;
	text-align: right;
	margin: 0;
}
.first ul li {
	/*margin: 1px 1px;*/
	list-style-type: none;
	display: inline;
	border-right: 2px solid white;
	padding-right: 5px;: 
}
.first li a {
	color: white;
	text-align: center;
	text-decoration: none;
}
.first li a:hover {
		text-decoration: overline;
		text-decoration-color: blue;
}
.second {
	width: 100%;
	height: 200px;
	padding: 3		0px 10px;
	display: inline;
}
.head {
	width: 30%;
	float: left;
	line-height: 0.5;
	padding: 0;
	display: inline-block;
}
.ss {
	padding: 0;
	float: right;
	width: 70%;
	text-align: right;
}
.ss ul li {
	list-style-type: none;
	display: inline;
}
.ss li a {
	color: black;
	padding: 5px 10px;
	text-decoration: none;
	text-align: center;
}
.ss li a:hover {
	text-decoration: underline;
	text-decoration-color: black;
}
.third {
	width: 100%;
	padding: 1px 1px;
	height: 250px;
	display: inline-flex;
}
.ft {
	width: 50%;
	/*float: left;*/
}
.st {
	width: 50%;
	/*float: right;*/	
}
.st button {
	width: 150px;
	height: 30px;
	background-color: purple;
}
.st a {
	text-decoration: none;
	color: white;
}
.fourth {
	width: 100%;
	height: 25%;
	display: inline-flex;
	padding: 0;
	margin: 1px 0;
}
.ff {
	width: 25%;
	margin: 0 20px;
	text-align: center;
}
.sf {
	width: 25%;
	margin: 0 20px;
	text-align: center;
}
.tf {
	width: 25%;
	margin: 0 20px;
	text-align: center;
}
.fof {
	width: 25%;
	margin: 0 20px;
	text-align: center;
}
.fifth {
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 1.5;
}
.sixth{
	width: 100%;
	height: 200px;
	display: inline-flex;
	padding: 0;
}
.fis {
	width: 25%;
	margin: 0 20px;
	text-align: left;
}
.ses {
	width: 25%;
	margin: 0 20px;
	text-align: left;
}
.ths {
	width: 25%;
	margin: 0 20px;
	text-align: left;
}
.fos {
	width: 25%;
	margin: 0 20px;
	text-align: left;
}
.down {
	width: 100%;
	display: inline-flex;
	padding: 5px;
	background-color: black;
	text-align: center;
}
.fd,.sd,.td,.fod {
	width: 25%;
	margin: 5px 10px;
	text-align: left;
	color: white;
}
.td ul {
	padding: 0;
}
.td ul li {
	list-style-type: none;
	text-align: left;
}